@tailwind base;
@tailwind componenets;
@tailwind utilities;

:root {
	font: "Trebuchet MS", "sans-serif";
}

*::-webkit-scrollbar-track {
	background: rgb(63 63 70) !important;
}

*::-webkit-scrollbar-thumb {
	background: red !important;
}

/*::-webkit-scrollbar-thumb:hover {
	background: rgb(113 113 122) !important;
}*/

*::-ms-thumb {
	background: red !important;
}

*::-ms-track {
	background: rgb(63 63 70) !important;
}

/*::-ms-thumb:hover {
	background: rgb(113 113 122) !important;
}*/
